

            <h2>Articles</h2>

            <p>Articles and blog posts</p>

            {% assign doclist = site.data.works | sort:'year' | reverse %}

            {% for item in doclist %}
              {% if item.group == "article" %}
                <div class="listing"><div>
                  <a href="/articles/{{ item.short-code }}.html"> <span style="color: #D14081; text-decoration: none; padding-right: .5rem;">{{ item.name }}</span></a><br /> {{ item.medium }} 

                    </div>
                   <div class="push">{{item.year}} </div>


                   </div>
                    <!--  <p>{{ item.logline }}</p> /-->
                      {% endif %}
                {% endfor %}


          </div>
