

            <h2>Articles</h2>

            <p>Archive of blog posts and articles</p>

            {% assign doclist = site.data.works | sort:'year' | reverse %}

            {% for item in doclist %}
                <div class="listing"><div>
                  {{ item.name }}
                    {% if item.short-code != null %}
                      <a href="{{ item.short-code }}.html"> [>] </a>
                    {% endif %}
                    </div>
                   <div class="push">{{ item.medium }} {{item.year}}</div>


                   </div>
                     <p>{{ item.logline }}</p>

            
          </div>
